@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100%;
  height: 100%;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  font-family: "Poppins";
}

.bg {
  color: white;
  width: 50%;
  background: url("../img/Mask Group 43.png") 0 50%/cover no-repeat;
  height: auto;
  padding-top: 90px;
  padding-left: 90px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 330px;
}

.container__main-title {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 50px;
}
.container__main-title ::first-letter {
  color: red;
}

.container__text p {
  max-width: 732px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  line-height: 28px;
}

.container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 14%;
  height: 170px;
}

.container__text h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
}

.sign-in {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign-in .sign-in-form-block {
  max-width: 442px;
}
.sign-in .sign-in-form-block .sign-in-form-block__form {
  width: 60%;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  line-height: 23px;
}
@media (min-width: 1200px) {
  .sign-in .sign-in-form-block .sign-in-form-block__form {
    width: 442px;
  }
}
.sign-in .sign-in-form-block .sign-in-form-block__form .form__text2 button {
  color: #181C32;
  text-decoration: underline;
  background-color: white;
}
.sign-in .sign-in-form-block .sign-in-form-block__form h2 {
  font-size: 36px;
  font-family: "Poppins";
  font-weight: bold;
  color: #181C32;
}
@media (max-width: 992px) {
  .sign-in .sign-in-form-block .sign-in-form-block__form h2 {
    font-size: 24px;
  }
}
.sign-in .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}
.sign-in .buttons .buttons__sign-up {
  height: 50px;
  width: 164px;
  float: left;
  border-radius: 8px;
  border-color: #E2222D;
  background-color: #E2222D;
  color: white;
}
.sign-in .buttons .buttons__sign-in {
  display: inline-block;
  width: 50px;
  background-color: white;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .bg {
    width: 100%;
  }
  .wrapper .bg .container {
    height: 240px;
    margin: -60px -60px 15px -60px;
  }
  .wrapper .bg .container .container__main-title {
    font-size: 32px;
  }
  .wrapper .bg .container .container__text {
    height: 140px;
  }
  .wrapper .bg .container .container__text p {
    font-size: 13px;
    line-height: 22px;
  }
  .wrapper .bg .container .container__text h3 {
    font-size: 18px;
  }
  .wrapper .sign-in {
    width: 100%;
  }
  .wrapper .sign-in-form-block__form {
    margin-top: 30px;
  }
  .wrapper .sign-in-form-block__form h2 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    height: 290px;
    margin: -60px -60px 15px -60px;
  }
}
@media (max-width: 992px) {
  .container {
    height: 290px;
    margin: -40px -40px 15px -40px;
  }
}